h1{
    position:absolute;
    width:453px;
    height:43px;
    left:188px;
    top:10px;
    font-family:Poppins;
    font-style:normal;
    font-weight:500;
    font-size:100px;
    line-height:72px;
    color:#000000;
}
p{
    position: absolute;
    width: 65px;
    height: 35px;
    left: -36px;
    top: 462px;
}
y{
    position: absolute;
    width: 480px;
    height: 291px;
    left: 1974px;
    top: 522px;
}
x{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 1900px;
    top: 800px;
}
m{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 2200px;
    top: 1080px;
}
n{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 1970px;
    top: 970px;
}o{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 2430px;
    top: 970px;
}v{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 2520px;
    top: 800px;
}
w{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 2560px;
    top: 700px;
}
e{
    position: absolute;
width: 80px;
height: 80px;
left: 1920px;
top: 700px;
}
k{
    position: absolute;
    width: 65px;
    height: 35px;
    left: 1250px;
    top: 0px;
}
z{ position: absolute;
    width: 65px;
    height: 35px;
    left: 1950px;
    top: 480px;

}
f{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 1910px;
    top: 710px;
}
